@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-snap-type: y mandatory;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: inherit;
  border: none;
  color: inherit;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__nav a {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  transition: all 0.3s;
}

.main__title {
  font-weight: 900;
  font-size: 85px;
  line-height: 130%;
}

.receive-transmissions__title, .first-step__title, .buysell__title, .support__title, .investment__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 130%;
}

.receive-transmissions__subtitle, .first-step__subtitle, .buysell__subtitle, .support__subtitle, .investment__subtitle, .columns-item__subtitle, .main__subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #898ca9;
}

.header__btns button {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.5s;
}

.first-step__btn, .support__btn, .investment__btn, .main__btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  padding: 20px 30px;
  border-radius: 10px;
  transition: all 0.3s;
}

.header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin-right: 30px;
}
.header__nav a:hover {
  text-shadow: 7px 3px 8px #fff;
}
.header__btns button {
  margin: 0 6px;
}
.header__btn-ghost {
  border: 1px solid #fff;
}
.header__btn-ghost:hover {
  background-color: rgba(255, 255, 255, 0.1960784314);
}
.header__btn-fill {
  background: linear-gradient(225deg, #18c8ff 0%, #933ffe 100%);
  background-size: 200%;
}
.header__btn-fill:hover {
  background-size: 100%;
}

.main {
  position: relative;
  z-index: 5;
}
.main swg {
  position: absolute;
  top: 0;
  left: 0;
}
.main__wrapper {
  position: relative;
  z-index: 4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__title {
  margin-bottom: 16px;
  text-align: center;
}
.main__subtitle {
  max-width: 600px;
  text-align: center;
  margin-bottom: 32px;
}
.main__btn {
  background: linear-gradient(225deg, #18c8ff 0%, #933ffe 100%);
  background-size: 200%;
}
.main__btn:hover {
  background-size: 100%;
}

.background-main {
  scroll-snap-align: start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.background-main svg {
  overflow: visible;
}
.background-main__glow-green {
  position: absolute;
  top: -105px;
  left: 53px;
  z-index: 1;
  width: 246px;
  height: 282px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  filter: blur(62px);
}
.background-main__glow-blue {
  position: absolute;
  top: 92px;
  right: 0px;
  z-index: 1;
  width: 550px;
  height: 660px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #c32cd2 100%);
  filter: blur(200px);
}
.background-main__circle-orange {
  position: absolute;
  bottom: 171px;
  left: -32px;
  z-index: 2;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: linear-gradient(-114deg, #ffc56f 0%, #6d1400 100%);
  box-shadow: inset 15px -3px 25px 0 rgba(159, 9, 9, 0.76), inset -2px 1px 8px 0 #ffd4a0;
}
.background-main__circle-blue {
  position: absolute;
  bottom: 252px;
  right: -97px;
  z-index: 2;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: linear-gradient(111deg, #decaff 0%, #691ee2 51%);
  box-shadow: inset -35px -50px 80px 0 rgba(172, 60, 225, 0.76), inset 0 20px 40px 0 rgba(194, 255, 255, 0.25), inset 0 0 24px 0 rgba(255, 255, 255, 0.26);
}
.background-main__star1 {
  position: absolute;
  top: 172px;
  right: 301px;
  z-index: 2;
}
.background-main__star1 svg {
  fill: #ffffff;
}
.background-main__star2 {
  position: absolute;
  top: 249px;
  right: 208px;
  z-index: 2;
}
.background-main__star2 svg {
  fill: #ffffff;
  width: 40px;
  height: 40px;
}
.background-main__star3 {
  position: absolute;
  top: 81px;
  left: 208px;
  z-index: 2;
}
.background-main__star3 svg {
  fill: #ffffff;
}
.background-main__img-bitcoin {
  position: absolute;
  top: 81px;
  left: 208px;
  z-index: 2;
  width: 100px;
  height: 100px;
}
.background-main__img-bitcoin img {
  width: 100%;
  height: 100%;
}
.background-main__img-etherium {
  position: absolute;
  bottom: 81px;
  right: 208px;
  z-index: 2;
  width: 149px;
  height: 149px;
}
.background-main__img-etherium img {
  width: 100%;
  height: 100%;
}
.background-main__img-monero {
  width: 160px;
  height: 160px;
}
.background-main__img-monero img {
  width: 100%;
  height: 100%;
}

.columns {
  scroll-snap-align: start;
  position: relative;
  z-index: 2;
}
.columns__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.columns__items {
  display: flex;
  justify-content: space-between;
}

.columns-item {
  border-radius: 25px;
  background: #1a1b23;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  margin: 0 10px;
  padding: 32px 10px;
}
.columns-item__icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  opacity: 0.7;
  background: #2e303d;
  border-radius: 50%;
}
.columns-item__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 16px;
}
.columns-item__subtitle {
  text-align: center;
  max-width: 280px;
}

.investment {
  position: relative;
  z-index: 2;
}
.investment__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.investment__wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
}
.investment__title {
  margin-bottom: 16px;
}
.investment__subtitle {
  margin-bottom: 32px;
}
.investment__btn {
  background: linear-gradient(225deg, #18c8ff 0%, #933ffe 100%);
  background-size: 200%;
}
.investment__btn:hover {
  background-size: 100%;
}

.box {
  display: block;
  width: 200px;
  height: 200px;
  background-color: green;
}

.support__wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support__wrapper div {
  width: 50%;
}
.support__img {
  position: relative;
}
.support__img svg {
  position: relative;
}
.support__glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  filter: blur(100px);
}
.support__glow-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background: linear-gradient(180deg, #82392c 0%, #d0a22c 100%);
  width: 500px;
  height: 500px;
}
.support__glow-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 237px;
  height: 436px;
  background: linear-gradient(180deg, rgba(255, 79, 24, 0) 0%, #ff4117 100%);
}
.support__title {
  margin-bottom: 16px;
}
.support__subtitle {
  margin-bottom: 32px;
}
.support__btn {
  border: 1px solid white;
  background-size: 200%;
}
.support__btn:hover {
  background-color: rgba(51, 51, 51, 0.404);
}

.buysell {
  position: relative;
  z-index: 2;
}
.buysell__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buysell__title {
  margin-bottom: 16px;
  max-width: 800px;
  text-align: center;
}
.buysell__subtitle {
  margin-bottom: 80px;
  max-width: 600px;
  text-align: center;
}
.buysell__items {
  border-radius: 25px;
  background: #1a1b23;
  padding: 20px 32px;
  width: 100%;
  position: relative;
}
.buysell__bg {
  position: relative;
}
.buysell__glow {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 400px;
  filter: blur(100px);
}
.buysell__glow-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 100%);
  width: 500px;
  height: 500px;
}
.buysell__glow-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 237px;
  height: 436px;
  background: linear-gradient(180deg, #2c4982 0%, #2cd095 100%);
}

.buysell-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2b2c3b;
  padding: 13px 0;
}
.buysell-item__name {
  width: 100%;
}
.buysell-item__short-name {
  color: #b982ff;
  width: 100%;
}
.buysell-item__cost {
  width: 100%;
  text-align: right;
}
.buysell-item__percent {
  color: #0dbb7c;
  width: 100%;
  text-align: right;
}
.buysell-item__graph {
  margin-left: 32px;
}

.first-step__wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-step__info {
  max-width: 600px;
}
.first-step__img {
  position: relative;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}
.first-step__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-step__glow {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 400px;
  filter: blur(100px);
}
.first-step__glow-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  width: 600px;
  height: 600px;
  filter: blur(200px);
}
.first-step__glow-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 391px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174aff 100%);
  filter: blur(100px);
}
.first-step__title {
  margin-bottom: 16px;
}
.first-step__subtitle {
  margin-bottom: 32px;
}
.first-step__btn {
  background: linear-gradient(225deg, #18c8ff 0%, #933ffe 100%);
  background-size: 200%;
}
.first-step__btn:hover {
  background-size: 100%;
}

.receive-transmissions__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.receive-transmissions__title {
  margin-bottom: 16px;
}
.receive-transmissions__subtitle {
  margin-bottom: 30px;
}
.receive-transmissions__label {
  border-radius: 10px;
  padding: 16px 20px;
  width: 304px;
  height: 56px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.15), inset 0 0 30px 0 rgba(255, 255, 255, 0.05);
}
.receive-transmissions input {
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  background: inherit;
  border: none;
}
.receive-transmissions input::-moz-placeholder {
  color: #565976;
}
.receive-transmissions input::placeholder {
  color: #565976;
}
.receive-transmissions input:focus-visible {
  outline: none;
}